body {
    display: flex;
    justify-content: center;
    content: center;
    align-items: center;
    height: 100vh;
}

div.div--input label {
 margin-left: 20px;
}
div.div--input input {
    display: block;
    margin: 5px 20px 20px 20px;
    padding: 5px 40px 5px 40px;
    outline: none;
    
}
.succes {
    border: 1px solid green;
}
.error-message {
    display: block;
    margin: 2px;
    font-size: 14px;
    color: red;
    margin: -10px 0px 5px 20px;
}
.has-error {
    border: 2px solid red;
}
.validInfo {
    position: absolute;
    top:0;

}